body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  display: block;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.icon {
  fill: #f4f4fd;
}

.section-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.text-main {
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

/* header */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation-list,
.address-header {
  display: none;
}

.logotipe {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.logotipe-unic {
  color: #2e2f42;
}

.address-list-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burger-menu-svg {
  fill: #2f2f37;
}

.burger-menu {
  background-color: transparent;
  border: none;
  padding: 16px 0;
  cursor: pointer;
}

.link-active {
  color: #404bbf;
  position: relative;
}

.link-active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
  text-decoration: #404bbf 4px solid;
}

.address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .logotipe {
    margin-right: 120px;
    padding: 24px 0;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    color: #2e2f42;
    font-weight: 500;
  }

  .address-header {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .logotipe {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-header {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* burger-menu */
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  background-color: #fff;
  z-index: 998;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
}

.menu-close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  background-color: transparent;
  stroke-width: 1px;
  fill: #2e2f42;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.media-list-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.media-item-menu {
  width: 40px;
  height: 40px;
}

.icon-media-menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.address-list-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-item-active {
  color: #404bbf;
}

.address-header-menu {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* invite */
.invite-section {
  margin: 0 auto;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-bg-mobile-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom: 3px solid rgba(46, 47, 66, 0.7);
}

@media screen and (min-resolution: 2x) {
  .invite-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bg-mobile@2x-min.jpg);
  }
}

.invite-container {
  padding: 72px 52px;
}

.title-page {
  position: relative;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-order {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-style: none;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .title-page {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .invite-container {
    padding: 112px 136px;
  }

  .invite-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bg-tablet-min.jpg);
  }
  @media screen and (min-resolution: 2x) {
    .invite-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-bg-tablet@2x-min.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .title-page {
    margin-bottom: 48px;
  }
  .invite-container {
    padding: 188px 0;
    max-width: 496px;
  }

  .invite-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bg-desc-min.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .invite-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-bg-desc@2x-min.jpg);
    }
  }
}

/* benefits */
.benefits-section {
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.box-icon {
  display: none;
}

.subtitle-benefits {
  font-size: 36px;
  font-weight: 700;
}

.text-benefits {
  font-weight: 500;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .subtitle-benefits {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 4);
  }

  .box-icon {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
  }

  .subtitle-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-benefits {
    font-weight: 400;
  }
}

/* team */
.team-container {
  padding-left: 28px;
  padding-right: 28px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-card {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-description {
  padding: 32px 0;
}

.card-description .text-main {
  margin-bottom: 8px;
}
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team .team-card {
  background-color: #fff;
  text-align: center;
}

.media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.media-item {
  width: 40px;
  height: 40px;
}

.icon-media {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-media:hover {
  background-color: #404bbf;
}

.icon-media:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    padding: 0 16px;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    flex-wrap: nowrap;
  }
}

/* PORTFOLIO */

.portfolio {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.subtitle-portfolio {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover {
    transition: box-shadow 300ms ease-in-out;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .img-overlay .box-overlay {
    transform: translateY(0%);
  }
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 72px;
  text-align: center;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.logotipe-unic-footer {
  color: #f4f4fd;
}

.logotipe-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}

.text-footer {
  color: #f4f4fd;
  max-width: 264px;
  text-align: left;
}

.subtitle-media {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.media-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.media-item-footer {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

.footer-email {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  padding: 8px 16px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-email::placeholder {
  font-size: 12px;
  color: #ffffff;
}

.footer-submit {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  max-width: 165px;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  fill: #fff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms ease-in-out;
  margin: 0 auto;
}

.submit-svg {
  margin-left: 16px;
}

.footer-submit:hover,
.footer-submit:focus {
  background-color: #404bbf;
}

.form-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: flex-start;
    text-align: left;
    padding: 0 108px;
  }

  .form-footer {
    flex-direction: row;
  }

  .footer-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 94px 0;
  }

  .footer-wrapper {
    margin-right: 120px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
    padding: 0 15px;
  }

  .social-media {
    margin-right: 80px;
  }

  .form-footer {
    flex-wrap: nowrap;
  }
}

/* MODAL */

.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open,
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  fill: #2e2f42;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-svg,
.modal-close-btn:focus .modal-close-svg {
  fill: #fff;
}

.form-caption {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-box {
  margin-bottom: 8px;
  box-sizing: border-box;
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  padding: 11px 0px 11px 38px;
  font-size: 12px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.input-area {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.input-box-area {
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-svg {
  fill: #4d5ae5;
}

.checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 0;
  min-width: 169px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.checkbox-desing {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  flex-shrink: 0;
}

.checkbox:checked + .label-checkbox .checkbox-desing {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-checkbox {
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .modal {
    width: 288px;
    padding: 72px 16px 24px;
  }

  .modal-input {
    width: 256px;
  }
}

/* visibility */
.backdrop.is-open,
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
